.Form {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
}

@media screen and (max-width: 480px) {
    .Form {
        margin-top: 40px;
    }
}

.Form-Item {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
    display: flex;
}

@media screen and (max-width: 480px) {
    .Form-Item {
        position: relative;
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 16px;
        padding-bottom: 16px;
        flex-wrap: wrap;
    }
}

.Form-Item:nth-child(5) {}

.Form-Item-Label {
    width: 100%;
    max-width: 248px;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 18px;
}

@media screen and (max-width: 480px) {
    .Form-Item-Label {
        max-width: inherit;
        display: flex;
        align-items: center;
        font-size: 15px;
    }
}

.Form-Item-Label.isMsg {
    margin-top: 8px;
    margin-bottom: auto;
}

@media screen and (max-width: 480px) {
    .Form-Item-Label.isMsg {
        margin-top: 0;
    }
}

.Form-Item-Label-Required {
    border-radius: 6px;
    margin-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 48px;
    display: inline-block;
    text-align: center;
    background: #545454;
    color: #fff;
    font-size: 14px;
}

@media screen and (max-width: 480px) {
    .Form-Item-Label-Required {
        border-radius: 4px;
        padding-top: 4px;
        padding-bottom: 4px;
        width: 32px;
        font-size: 10px;
    }
}

.Form-Item-Input {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 48px;
    flex: 1;
    width: 100%;
    max-width: 390px;
    background: #eaedf2;
    font-size: 18px;
}

.Form-Item .select-wrapper {
    position: relative;
    display: inline-block;
    border-radius: 6px;
    height: 48px;
    flex: 1;
    max-width: 426px;
}

.Form-Item .select-wrapper::after {
    content: "\25BE";
    position: absolute;
    top: calc(50% + 3px);
    /* 少し下に調整 */
    right: 0.5em;
    /* 右側の位置を微調整 */
    transform: translateY(-50%);
    font-size: 18px;
    pointer-events: none;
}

@media screen and (max-width: 480px) {
    .Form-Item-Input {
        margin-left: 0;
        margin-top: 18px;
        height: 40px;
        flex: inherit;
        font-size: 15px;
    }
}

.Form-Item-Textarea {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 216px;
    flex: 1;
    width: 100%;
    max-width: 410px;
    background: #eaedf2;
    font-size: 18px;
}

@media screen and (max-width: 480px) {
    .Form-Item-Textarea {
        margin-top: 18px;
        margin-left: 0;
        height: 200px;
        flex: inherit;
        font-size: 15px;
    }
}

.Form-Btn {
    border-radius: 6px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 280px;
    display: block;
    letter-spacing: 0.05em;
    background: #545454;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

@media screen and (max-width: 480px) {
    .Form-Btn {
        margin-top: 24px;
        padding-top: 8px;
        padding-bottom: 8px;
        width: 80px;
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .Form-Item .select-wrapper::after {
        /* 矢印の上下の位置を調整 */
        top: calc(50% + 15px);
        /* 例: 3px 下に移動 */
        right: 20px;
        /* 例: より右に移動 */
    }
}

.Form-Item-RadioGroup {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 6px;
    margin-left: 40px;
}

.Form-Item-RadioGroup label {
    margin-right: 10px;
}

@media (max-width: 480px) {
    .Form-Item-RadioGroup {
        max-width: 230px;
        margin-top: 10px;
        flex-wrap: wrap;
        margin-left: 10px;
    }

    .Form-Item-RadioGroup label {
        margin-bottom: 10px;
        margin-right: 0;
    }
}

@media (min-width: 481px) {
    .Form-Item-RadioGroup {
        margin-left: 20px;
    }

    .Form-Item-RadioGroup label {
        margin-right: 20px;
        margin-left: 20px;
    }
}

input:checked+label {
    border-color: black;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

tr:hover .flex-shrink-0 {
    color: white;
}

.navLink {
    width: 250px;
}

@media (max-width: 810px) {
    .navLink {
        width: 220px;
    }
}


@media (max-width: 767px) {
    .navLink {
        width: 300px;
    }
}

tr:hover .flex-shrink-0 {
    color: white;
}